<form action="/" method="post">
    <button type="submit">Default</button>
    <button type="submit" name="button" value="1">Button 1</button>
    <button type="submit" name="button" value="2">Button 2</button>
</form>